<h1>{{title}}</h1>
{{view JUI.Button label="Back" target="HttpCron.TasksPaneView" action="append"}}
{{view SB.PreviousButton target="HttpCron.ExecutionsList"}}
{{view SB.NextButton target="HttpCron.ExecutionsList"}}

{{#collection HttpCron.ExecutionsCollection}}
  <b>Status :</b> {{content.status}}<br/>
  <b>Run at :</b> {{content.run_at}}<br/>
  <b>Duration :</b> {{content.duration}}
{{else}}
  Not executed yiet...
{{/collection}}
