<h1>{{title}}</h1>
{{view JUI.Button label="Back" target="HttpCron.TasksPaneView" action="append"}}
{{view SB.PreviousButton target="HttpCron.ExecutionsList"}}
{{view SB.NextButton target="HttpCron.ExecutionsList"}}

{{#collection HttpCron.ExecutionsCollection}}
  <p><strong>Status :</strong> {{content.status}}</p>
  <p><strong>Start at :</strong> {{content.start_at}}</p>
  <p><strong>Duration :</strong> {{content.duration}}</p>
  <p><strong>Response :</strong></p>
  <blockquote>
    {{content.response}}
  </blockquote>
{{else}}
  Not executed yiet...
{{/collection}}
