{{view JUI.Button label="Log Out"
  target="HttpCron.User" action="logout"}}
{{view JUI.Button label="Add Task"
  target="HttpCron.NewTask" action="toggle"
  isVisibleBinding="HttpCron.NewTask.isInvisible"}}

<div class="pagination">
  {{view SB.PreviousButton target="HttpCron.TasksList"}}
  {{view SB.NextButton target="HttpCron.TasksList"}}
</div>

{{#view HttpCron.NewTaskView}}
  <div class="fields">
    {{view SC.TextField valueBinding="content.nested.name" placeholder="Name..."}}
    {{view SC.TextField valueBinding="content.nested.cron" placeholder="Cron line..."}}
    {{view SC.TextField type="url" valueBinding="content.nested.url" placeholder="URL..."}}
    {{view SC.Checkbox title="Enabled" valueBinding="content.nested.enabled"}}
  </div>
  <div class="buttons">
    {{view JUI.Button label="Cancel" targetBinding="content" action="toggle"}}
    {{view JUI.Button label="Save" targetBinding="content" action="save"}}
  </div>
{{/view}}

{{#collection HttpCron.TasksCollection}}
  {{#view classNames="show-task" isVisibleBinding="content.isNotEditing" contentBinding="content"}}
    <div class="content">
      {{content.name}}<br/>
      <em>{{content.cron}}</em><br/>
      <strong>http://</strong>{{content.cleanUrl}}
    </div>
    {{view JUI.Button label="Destroy" targetBinding="content" action="destroy"}}
    {{view JUI.Button label="Edit" targetBinding="content" action="edit"}}
    {{view JUI.Button label="Logs" targetBinding="content" action="logs"}}
  {{/view}}
  {{#view classNames="edit-task" targetBinding="content"
    isVisibleBinding="content.isEditing" contentBinding="content.nested"}}
    <div class="fields">
      {{view SC.TextField valueBinding="content.name" placeholder="Name..."}}
      {{view SC.TextField valueBinding="content.cron" placeholder="Cron line..."}}
      {{view SC.TextField type="url" valueBinding="content.url" placeholder="URL..."}}
      {{view SC.Checkbox title="Enabled" valueBinding="content.enabled"}}
    </div>
    <div class="buttons">
      {{view JUI.Button label="Update" targetBinding="target" action="save"}}
      {{view JUI.Button label="Cancel" targetBinding="target" action="cancel"}}
    </div>
  {{/view}}
{{else}}
  {{#if HttpCron.TasksList.isLoading}}
    Loading...
    {{view JUI.Throbber}}
  {{else}}
    No Tasks
  {{/if}}
{{/collection}}
